# 1. 核心网络锁死在以太坊测试网 11155111 (Sepolia)
NEXT_PUBLIC_CHAIN_ID=11155111

# 2. 你的 HBUSDT 代币合约地址
NEXT_PUBLIC_HBUSDT_ADDRESS=0x828Fe3DFF3F06fEBBE22DDb04BdAac8cc5F33Ce3

# 3. 你的总投资理财池/账本合约地址
NEXT_PUBLIC_LEDGER_ADDRESS=0x130758E537332011064f497892e4B34271EA21D8

# 4. 以太坊/美元的价格喂价预言机地址（Sepolia 官方标准的 ETH/USD 价格源）
NEXT_PUBLIC_ETH_USD_FEED_ADDRESS=0x694AA1769357215DE4FAC081bf1f309aDC325306

# 5. 关掉本地 Ganache 的同步检测，防止它去读 D:\hb_finance_ganache 导致卡死
NEXT_PUBLIC_USE_LOCAL_GANACHE=false
